name: Test and coverage

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Start DynamoDB
        uses: lekki/dynamodb-local-action@v0.1
        with:
          host_port: 8000 # Optional, default value is 8000. The port of host
      - run: npm ci
      - run: npm run build
      # - run: npm run lint
      - run: npm run coverage
      - uses: codecov/codecov-action@v1
        with:
          file: ./coverage/coverage-final.json # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
